@import './base.css';

.base-body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

.base-body code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

.base-body .base-electron {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.base-body .base-electron .logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.base-body .base-electron .logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.base-body .base-electron .creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.base-body .base-electron .text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.base-body .base-electron .tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.base-body .base-electron .react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.base-body .base-electron .ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.base-body .base-electron .actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.base-body .base-electron .action {
  flex-shrink: 0;
  padding: 6px;
}

.base-body .base-electron .action a,
.base-body .base-electron .action button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}

.base-body .base-electron .action a:hover,
.base-body .base-electron .action button:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}

.base-body .base-electron .versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.base-body .base-electron .versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

.base-body .base-electron .header {
  position: absolute;
  z-index: 10;
  top: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.base-body .base-electron .header li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

.base-body .base-electron .header li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--ev-button-alt-text);
}

.base-body .base-electron .header li a:hover {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 820px) {
  .base-body .base-electron .logo {
    display: none;
  }
}

@media (max-width: 720px) {
  .base-body .base-electron .text {
    font-size: 20px;
  }
}

@media (max-width: 520px) {
  .base-body .base-electron .creator {
    display: none;
  }
}

@media (max-width: 480px) {
  .base-body .base-electron .tip {
    display: none;
  }
}

@media (max-width: 460px) {
  .base-body .base-electron .versions {
    display: none;
  }
}

@media (max-width: 400px) {
  .base-body .base-electron {
    margin-top: 30px;
  }

  .base-body .base-electron .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .base-body .base-electron .text {
    display: none;
  }

  .base-body .base-electron .actions {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .base-body .base-electron .actions .action {
    padding: 3px;
  }

  .base-body .base-electron .actions .action a {
    padding: 0 10px;
  }
}
