@import './base.css';

.base-page {
  display: flex;
  gap: 5px;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100vh;
  background-color: var(--grey);
}

.logo {
  font-size: 36px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--golden);
}

.menu-sidebar {
  padding: 20px 10px;
}

.menu-sidebar > .nav-sidebar > .nav-item > .nav-link {
  font-size: 18px;
}

.nav-treeview .nav-link {
  margin-left: 20px;
}
